html {
    font-family: "GE Inspira" !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:20px;
}

li {
    display: inline;
}

.search {
    float:right;
}