html {
    font-family: "GE Inspira" !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:20px;
}

li {
    display: inline;
}

.search {
    float:right;
}

td {
    text-align: center;
    padding:10px;
}

.coffee_star {
    width:20px;
}

table {
    margin-left:20px;
    margin-top:20px;
}

.profile {
    width:150px;
}
